body {
    background-color: #0e0e0e;
}

header {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
}

header h1 {
    color: #ff4747;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 6px 10px;
    border-radius: 5px;
}

nav a:hover,
.ativo {
    background-color: #ff4747;
    color: #0e0e0e;
    transform: scale(1.05);

}

.atores {
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.atores h2 {
    margin-bottom: 30px;
    color: #ff4747;
}

.atores-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.ator img {
    width: 80%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    border: 3px solid #ff4747;
}

.ator img:hover {
    transform: scale(1.1);
}

.ator p {
    margin-top: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 30px 15px;
    font-size: 1em;
    color: #ddd;
    font-family: Arial, sans-serif;
}

.atores-lista {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ator {
    width: 250px;
    height: 350px;
    margin: 10px;
    animation: fadeInUp 1s ease;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}


.ator:hover .card {
    transform: rotateY(180.0001deg);
}


.frente,
.verso {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.verso {
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.ator p {
    margin-top: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* === ANIMAÇÃO GERAL === */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header, footer, .atores h2 {
    animation: fadeInUp 1s ease;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    animation: fadeInUp 1s ease-out forwards;
}

.banner-texto {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
}

.banner-texto h2 {
    font-size: 2rem;
    color: #ff4747;
    margin-bottom: 10px;
    font-family: Arial, sans-serif ;
}

.banner-texto p {
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, sans-serif ;
}

/* ======== RESPONSIVIDADE ======== */

/* 1️⃣ Desktop */
@media (min-width: 1200px) {
    .atores-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 2️⃣ Tablets */
@media (max-width: 1199px) and (min-width: 768px) {
    .atores-container {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        flex-direction: column;
    }
}

/* 3️⃣ Celulares */
@media (max-width: 767px) {
    .atores-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }
}
