body {
    background-color: #0e0e0e;
}

header {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
}

header h1 {
    color: #ff4747;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover,
.ativo {
    background-color: #ff4747;
    color: #0e0e0e;
}

.atores {
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.atores h2 {
    margin-bottom: 30px;
    color: #ff4747;
}

.atores-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.ator {
    width: 250px;
    text-align: center;
    margin: 10px;
}

.ator img {
    width: 80%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    border: 3px solid #ff4747;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ator img:hover {
    transform: scale(1.1);
}

.ator p {
    margin-top: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 30px 15px;
    font-size: 1em;
    color: #ddd;
    font-family: Arial, sans-serif;
}

.atores-lista {
    grid-template-columns: repeat(5, 1fr); /* Cria 5 colunas */
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.ator {
    width: 250px;
    height: 350px; /* Altura para o card */
    perspective: 1000px; /* Definindo perspectiva 3D */
    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* Isso permite a rotação 3D */
    transition: transform 0.6s; /* Suaviza a rotação */
}

.card:hover {
    transform: rotateY(180deg); /* Quando passar o mouse, vira o card */
}

.frente, .verso {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden; /* Esconde a parte de trás do card quando virar */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.verso {
    background-color: black;
    transform: rotateY(180deg); /* Parte de trás começa virada */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.ator img:hover {
    transform: scale(1.1);
}

.ator p {
    margin-top: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
}

@media  (max-width: 600px){
    .atores-lista {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas muito pequenas */
    }
}

@media (max-width: 900px){
    .atores-lista {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas pequenas */
    }
}

@media (max-width: 1200px) {
    .atores-lista {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas médias */
    }
}
